# БД
POSTGRES_USER=personal_card
POSTGRES_PASSWORD=personal_card_local
POSTGRES_DB=personal_card
POSTGRES_PORT=5432

DATABASE_URL=postgresql://personal_card:personal_card_local@localhost:5432/personal_card?schema=public
DATABASE_CA_CERT_BASE64=


# Аутентификация на бекенде
AUTH_ADMIN_USERNAME=replace-with-admin-username
AUTH_ADMIN_PASSWORD_HASH=replace-with-argon2-hash
AUTH_JWT_SECRET=replace-with-random-secret
AUTH_JWT_EXPIRES_IN=15m

# Фронтенд
GRAPHQL_API_URL=http://api:3000/graphql
NEXT_PUBLIC_GRAPHQL_API_URL=http://localhost:3000/graphql
FRONTEND_ORIGINS=http://localhost:3001
REVALIDATION_SECRET=replace-with-random-secret
NEXT_PUBLIC_SITE_URL=http://localhost:3001
